*/node_modules
*/.env
*/.venv
*/venv
*.log

# Python specific
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp



# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
flask/venv/
flask/.venv/

# Flask specific
instance/
*.db
*.sqlite3

# Environment files
*.env

# Packaging
build/
dist/
*.egg-info/